.container-page-login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.area-img-login{
    width: 50vw;
}

.img-login{
    width: 50vw;
    height: 100vh;
}

.card-info-img-login{
    position: absolute;
    width: 30vw;
    padding: 15px;
    background-color: green;
    border-radius: 10px;
    top: 55px;
    left: 16vw;
}

.card-info-img-login p {
    color: #fff;
    text-align: justify;
    font-size: 1.2em;
}

.area-login{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: center;
}

.card-login{
    width: 40vw;
    padding: 15px;
    border: 2px solid #ddd;
    border-bottom: 10px solid green;
}

.logo-login{
    width: 180px;
    height: 70px;
}

.btn-sync-wallet{
    padding: 10px 15px;
    background-color: #fff;
    border: 2px solid purple;
    border-radius: 5px;
    color: purple;
    font-weight: bold;
}

.btn-sync-wallet:hover{
    cursor: pointer;
}

.card-login h2{
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: lighter;
}

.card-login p{
    margin-top: -2px;
}