.container-isa-page{
    display: flex;
    flex-direction: column;
}

.header-isa{
    display: flex;
    margin: 10px 0;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.area-btn-header-isa-page{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-new-category-isa{
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid purple;
    color: purple;
    font-weight: bold;
    margin: 0 10px;
    width: 200px;
    transition: 0.5s all;
}

.btn-new-category-isa:hover{
    cursor: pointer;
    background-color: rgb(169, 2, 169);
    border-color: rgb(169, 2, 169);
    color: #fff
}

.btn-load-categories-isa{
    padding: 10px 15px;
    background-color: rgb(249, 236, 67);
    border: 2px solid rgb(249,236,67);
    color: #000;
    font-weight: bold;
    width: 200px;
    margin: 0 10px;
    border-radius: 5px;
    transition: 0.5s all;
}

.btn-load-categories-isa:hover{
    cursor: pointer;
    border: 2px solid #000;
    
}

.area-categories-isa{
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 5px;
}

.tit-categories-isa{
    color: #000;
    font-weight: bold;
}

/*table*/

table {
    border-collapse: collapse;
}

.container-table-categories{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container-table-categories table thead th{
    border-bottom: 2px solid purple;
    padding: 5px 0;
    text-align: left;
    color: green;
}

#createdByIsaTable{
    width: 100px;
}

#categories-isa-table{
    width: 200px;
}

#votes-isa-table, #config-isa-table{
    width: 150px;
}