#createdByContentIsa{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

tr:nth-child(even){
    background: #eee;
}

tr p{
    margin: 10px 5px;
}

#createdByContentIsa p {
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#createdByContentIsa button{
    font-weight: bold;
    color: green;
    background: none;
    border: 0;
    font-size: larger;
    cursor: pointer;
}

#td-vote-table-isa{
    display: flex;
    justify-content: end;
}

#td-vote-table-isa button{
    background: none;
    border: 0;
    font-weight: bold;
    color: green;
    font-size: 16px;
    cursor: pointer;
}