#createdByContentIsa{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

tr:nth-child(even){
    background: #eee;
}

tr p{
    margin: 10px 5px;
}

#createdByContentIsa p {
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#createdByContentIsa button{
    font-weight: bold;
    color: green;
    background: none;
    border: 0;
    font-size: larger;
    cursor: pointer;
}

#td-vote-table-isa{
    display: flex;
    justify-content: end;
}

.btn-unvote{
    background-color: #fff;
    border-color: purple;
    color: purple;
    font-weight: bold;
    border-radius: 8px;
    padding: 5px 8px;
    margin-right: 5px;
    transition: 0.5s all;
}

.btn-unvote:hover{
    cursor: pointer;
    color: #fff;
    background-color: purple;
}

.btn-vote{
    background-color: rgb(249,236,67);
    border-color: rgb(249,236,67);
    border-radius: 8px;
    color: black;
    font-weight: bold;
    padding: 5px 8px;
    transition: 0.5s all;
}

.btn-vote:hover{
    cursor: pointer;
    border-color: #000;
}