.container-content-detail-category{
    display: flex;
    flex-direction: column;
}

.title-details-category-isa{
    font-weight: bold;
    color: green;
    margin: 0;
}

.description-details-category-isa{
    margin: 0 0 15px 0;
}