.container{
  height: 500px;
  width: 100%;
  margin: 50px auto 0;
  display: flex;
  left: 0;
}

.container form{
  width: 870px;
  height: 100%;
  margin-left: 150px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 600;
}

.container input, select {
  width: 200px;
  height: 28px;
  border: 2px solid #a1a1a1;
  border-radius: 4px;
}

.buttonRegister { 
  margin-top: 15px;
  width: 250px;
  height: 50px;
  border: 1px solid rgb(204, 37, 226);
  color: rgb(204, 37, 226);
  border-radius: 4px;
  background: #fff;
  font-size: 17px;
  cursor: pointer;
}

.buttonRegister:hover{ 
  color: rgb(204, 37, 226, 0.7);
  border-color: rgb(204, 37, 226, 0.5);
}

.inputGroup {
  display: flex;
}

.inputGroup .inputControl{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}


.inputControl label{
  margin:5% 0;
}

/* .inputGroup label {
  display:;
} */