.container-create-category{
    display: flex;
    justify-content: center;
    background-color: rgba(128, 0, 128, 0.273);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.card-create-category{
    width: 50vw;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-top: 15px;
    padding: 0 10px;
}

.header-create-category{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

/*  Form   */

.input-form-isa{
    width: 99%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid #ccc
}

.card-create-category form label{
    font-weight: bold;
    color: green;
    display: block;
    margin: 0 0 5px 0;
}

.footer-create-category{
    display: flex;
    justify-content: end;
}

.btn-cancel-create-category{
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid purple;
    color: purple;
    font-weight: bold;
    margin: 0 10px;
    transition: 0.5s all;
}

.btn-cancel-create-category:hover{
    cursor: pointer;
    background-color: rgb(169, 2, 169);
    border-color: rgb(169, 2, 169);
    color: #fff
}

.btn-create-create-category{
    padding: 10px 15px;
    background-color: rgb(249, 236, 67);
    border: 2px solid rgb(249,236,67);
    color: #000;
    font-weight: bold;
    margin: 0 10px;
    border-radius: 5px;
    transition: 0.5s all;
}

.btn-create-create-category:hover{
    cursor: pointer;
    border: 2px solid #000;
    
}