.card-vote-category{
    width: 450px;
    height: 250px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
}

.input-amount-tokens-vote{
    width: 250px;
    height: 35px;
    font-size: 16px;
    margin-left: 5px;
    display: block;
    margin-bottom: 15px;
}

.tit-your-balance{
    font-weight: bold;
    color: green;
}

.btn-vote-of-category{
    background-color: green;
    font-weight: bold;
    color: #fff;
    padding: 5px 20px;
    border-color: green;
    border-radius: 8px;
    margin-left: 5px;
    transition: 0.5s all;
}

.btn-vote-of-category:hover{
    border-color: black;
    cursor: pointer;
}

.btn-unvote-of-category{
    background-color: red;
    font-weight: bold;
    color: #fff;
    padding: 5px 20px;
    border-color: red;
    border-radius: 8px;
    margin-left: 5px;
    transition: 0.5s all;
}

.btn-unvote-of-category:hover{
    border-color: black;
    cursor: pointer;
}